@import '~style/helpers';

.currency-pill {
  background-color: white;
  border: 1px solid #EDEDED;
  color: #007ff3;
  border-radius: 25px;
  height: 50px;
  padding: 0 12px 0 12px;
  position: absolute;
  min-width: 200px;
  transform: translateX(50%) translateY(50%);
  top: calc(50% - 50px);
  left: calc(50% - 200px);
  z-index: 2;
  text-align: center;
}