@import '~style/helpers';
@import '~style/button';
@import '~style/variables';
@import '~breakpoint-sass/stylesheets/breakpoint';

.home {
	padding: 56px 20px;
	min-height: 100%;
  width: 100%;
  
  .card {
    margin-top: 24px;
  }

  h1 {
    font-size: 1.6em;
    @include breakpoint($tablet) {
      font-size: 2em;
    }
  }
}

.button {
  display: block;
  margin-top: 12px;
}