@import '~style/helpers';

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
  padding: 0;
  background: #007ff3;
	background: linear-gradient(135deg, #007ff3 0%,#009cf7 100%);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;

	h1 {
		float: left;
		margin: 0;
		padding: 0 15px;
		font-size: 24px;
		line-height: 56px;
    font-weight: 400;
    &, a {
      color: #FFF;
      text-decoration: none;
    }
	}

	nav {
		float: right;
		font-size: 100%;

		a {
			display: inline-block;
			height: 56px;
			line-height: 56px;
			padding: 0 15px;
			min-width: 50px;
			text-align: center;
			background: rgba(255,255,255,0);
			text-decoration: none;
			color: #EEE;
			will-change: background-color;

			&:hover, &:active {
				background: rgba(255,255,255,0.3);
			}
		}
	}
}
