.button {
  background-color: #eb008d;
  cursor: pointer;
  padding: 12px;
  border: 0;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 2em;
  text-decoration: none;
  min-width: 200px;
  max-width: 260px;
  text-align: center;
  transition: background-color 0.3s;
  &:hover {
    background-color: #F70897;
  }
}