@import '~style/helpers';

.currency-bar {
  background-color: white;
  border: 1px solid #EDEDED;
  padding: 24px;
  position: relative;
  margin: 0 auto;
  min-height: 200px;
  max-width: 600px;

  &--second {
    background-color: #F5F5F5;
  }

  .currency-codes, .amount {
    input, select {
      background-color: transparent;
      border: 0;
      margin-top: 24px;
      outline: none;
    }

    select {
      font-size: 36px;
    }

    input {
      font-size: 30px;
    }
  }

  .currency-codes {
    float: left;
  }

  .amount {
    float: right;
    input {
      text-align: right;
      width: 160px;
    }
  }

  .balance {
    clear: both;
    color: #848484;
    float: left;
    padding-left: 6px;
  }
}