@import '~style/helpers';
@import '~style/button';

.exchange {
  padding: 56px 0px 0 0;
	min-height: 100%;
  width: 100%;
  margin-top: 12px;
}

.currency-container {
  position: relative;
}

.button {
  display: block;
}